$containerWidth: 1200px;
$marginAuto: 0 auto;
$black: #000000;
$webstudioPaddingTop: 24px;
$webStudioPaddingBottom: 25px;
$globalTextDecoration: none;
$boldFontWeight: 700;
$fontTypeRaleway: "Raleway", sans-serif;
$blue: #2196f3;
$lightBlack: #212121;
$transitionTiming: cubic-bezier(0.4, 0, 0.2, 1);
$grey: #757575;
$fontTypeRoboto: "Roboto";
$paddingForLastChildHeader: 30px;
$contactFontSize: 14px;
$modalTransition: visibility 250ms linear, opacity 250ms, transform 250ms;
$modalShadowColor: #00000033;
$white: #ffffff;
$borderBlack: #0000001a;
$letterspacing03: 0.03em;
$letterspacing01: 0.01em;
$borderStyle: 1px solid #0000001a;
$deepGrey: #2f303acc;
$lightGrey: #f5f4fa;
$iconFillGrey: #afb1b8;
$whiteBorder: #eeeeee;
$veryGrey: #2f303a;
